<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>微信管理后台</title>
    <link href="__PUBLIC__/css/Admin/Index/index.css" type="text/css" rel="stylesheet">
</head>
<body>

<!--顶部-->
<div class="layout_top_header">
    <input type="hidden" id="nowWeixinID" value="{$_SESSION['weixinID']}">
    <div class="navBar">
        <span>微信管理后台</span>
    </div>

    <div class="ad_setting_new ad_setting2">
        <a class="ad_setting_a">
            <i class="icon-user glyph-icon" style="font-size: 20px"></i>
            <span>管理员: &nbsp {$_SESSION['username']}</span>
            <i class="icon-chevron-down glyph-icon"></i>
        </a>
        <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
            <li class="ad_setting_ul_li"> <a href="__ROOT__/Admin/Index/doAction/action/editPwd" target="menuFrame">
            <i class="icon-user glyph-icon"></i> 修改密码 </a> </li>
            <li class="ad_setting_ul_li"> <a href="__ROOT__/Admin/Index/doAction/action/logout">
            <i class="icon-signout glyph-icon" ></i>
            <span class="font-bold" id='logout'>退出</span></a>
            </li>
        </ul>
    </div>
    <div class="ad_setting">
        <a class="ad_setting_a" >
            <span>
                <select class="selectWeixinID" id = "weiIDSelect" onchange="getWeiID();">
                    <foreach name="data" item="vo">
                        <option value={$vo['id']}>{$vo['weixinName']}</option>
                    </foreach>
                </select>
            </span>
        </a>
    </div>
<div class=" ad_setting">
    <a class="ad_setting_a" href="javascript:; ">
    <i style="font-size: 16px"></i>
    <span >当前公众号:</span>
</a>
</div>
</div>
<!--顶部结束-->
<!--菜单-->
<div class="layout_left_menu">
    <ul id="menu">
    <li class="childUlLi">
    <a href="#" target="menuFrame"><i class="glyph-icon icon-home"></i>首页</a>
    <ul>
    <li><a target="menuFrame" href="javascript:void(0)"><i class="glyph-icon icon-chevron-right"></i>管理公众号</a>
    <ul>
        <notempty name="weixinInfo">
            <li>
                <a target="menuFrame" href="javascript:void(0)">
                    <i class="glyph-icon icon-chevron-right2"></i>{$thisWeixinName}
                </a>
                <ul>
                    <li>
                        <a href="__ROOT__/Admin/Weixin/doAction/action/weixinIDAddNew" target="menuFrame">
                            <i class="glyph-icon icon-chevron-right3"></i>编辑公众号基本设置</a>
                    </li>
                    <li><a href="__ROOT__/Admin/Event/doAction/action/showView" target="menuFrame">
                        <i class="glyph-icon icon-chevron-right3"></i>进入活动相关设置</a>
                    </li>
                    <li><a href="../forWexinID/menuSet.php?weixinID=<?php echo $weiInfo['id'];?>" target="menuFrame">
                        <i class="glyph-icon icon-chevron-right3"></i>自定义菜单设置</a>
                    </li>
                </ul>
            </li>
        <else/>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尚未设置公众号信息!</a>
            </li>
        </notempty>
    </ul>
    <li><a href="../forWexinID/weixinIDAddNew.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i><span color="#FF0000">添加新公众号</span> </a>
        </li>
        <li><a href="../forWexinID/editWeixinID.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>编辑公众号</a>
    </li>
<!---->
<li><a href="adminSetMuneClass.php" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>菜单分类设置</a></li>
</li>
</ul>
</li>
<li class="childUlLi">
    <a target="menuFrame" href="javascript:void(0)"><i class="glyph-icon icon-reorder"></i>会员管理</a>
<ul>
<li><a href="../froIntegralNewVip/integralNewVip.php" target="menuFrame">
    <i class="glyph-icon icon-chevron-right"></i>初始化设置</a></li>
    <li><a href="../froIntegralSetDaily/integralSetDaily.php" target="menuFrame">
    <i class="glyph-icon icon-chevron-right"></i>签到{$weixinName}</a></li>
</ul>
</li>
<li class="childUlLi">
    <a target="menuFrame" href="javascript:void(0)"> <i class="glyph-icon  icon-location-arrow"></i>活动设置</a>
<ul>

<notempty name="eventNameArr">
    <foreach name="eventNameArr" item="nameVo" key="key">
        <if condition="$nameVo eq '会员答题'">
            <li><a target="menuFrame" href="javascript:void(0)">
                <i class="glyph-icon icon-chevron-right"></i>{$nameVo}</a>
                <ul>
                    <li><a href="../forAnswer/question_search.php" target="menuFrame">
                        <i class="glyph-icon icon-chevron-right2"></i>结果查询</a>
                    </li>
                    <li><a href="../forAnswer/question_master_manager.php" target="menuFrame">
                        <i class="glyph-icon icon-chevron-right2"></i>主题信息</a>
                    </li>
                    <li><a href="../forAnswer/question_manager.php" target="menuFrame">
                        <i class="glyph-icon icon-chevron-right2"></i>题目信息</a>
                    </li>
                </ul>
            </li>
        <else/>
            <li><a href={$eventUrlArr[$key]} target="menuFrame">
                <i class="glyph-icon icon-chevron-right"></i>{$nameVo}</a>
            </li>
        </if>
    </foreach>
<else/>
    <li><a target="menuFrame" href="javascript:void(0)">
        <i class="glyph-icon icon-chevron-right"></i>尚未设置活动，请设置！</a>
    </li>
</notempty>

</ul>
</li>
<li class="childUlLi">
        <a target="menuFrame" href="javascript:void(0)"> <i class="glyph-icon icon-reorder"></i>用户管理</a>
<ul>
<if condition="$_SESSION['username'] eq 'admin'">
    <li><a href="adminUserSearch.php" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>管理员权限用户查询</a></li>
    <li><a href="addUserByAdmin.php" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>管理员权限用户添加</a></li>
</if>
<li><a href="__ROOT__/Admin/Index/doAction/action/editPwd" target="menuFrame">
    <i class="glyph-icon icon-chevron-right"></i>修改密码</a></li>
    </ul>
    </li>
    <li class="childUlLi">
    <a target="menuFrame" href="javascript:void(0)"> <i class="glyph-icon icon-reorder"></i>查询功能</a>
<ul>
<notempty name="$eventNameArr">
    <li><a href="../forSearchInfo/searchVipInfo.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>会员信息查询</a></li>
    <li><a href="../froIntegralSetDaily/getDailyCode.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>查询签到码</a></li>
    <li><a href="../forSearchInfo/searchQAClassInfo.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>答题分类查询</a></li>
    <li><a href="../forSearchInfo/question_OKCountSearch.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>全答对时间排行</a></li>
    <li><a href="../forExchange/exchangeInfoSearch.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>奖品兑换情况查询</a>
    <li><a href="../forExchange/exchange.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>兑奖信息查询</a>
    <li><a href="../forForwardingGift/forwardingGiftInfoSearch.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>转发有礼查询</a>
    <li><a href="../forHongbao/hongbaoInfoSearch.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>红包测试</a>
    <li><a href="../forFlowerCity/flowerCityManger.php" target="menuFrame">
        <i class="glyph-icon icon-chevron-right"></i>印章商城</a>
    </li>

<else/>
    <li><a target="menuFrame" href="javascript:void(0)">
        <i class="glyph-icon icon-chevron-right"></i>尚未设置活动，请设置！</a>
    </li>
</notempty>
</ul>
</li>
</ul>
</div>
<!--菜单-->
<div id="layout_right_content" class="layout_right_content">
    <div class="mian_content">
    <div id="page_content">
    <iframe id="menuFrame" name="menuFrame" src="__ROOT__/Admin/Index/doAction/action/showMainFrame" style="overflow:visible;"
scrolling="yes" frameborder="no" width="100%" height="100%"></iframe>
    </div>
    </div>
    </div>
    <div class="layout_footer">
    <p>Copyright © 2017 - 臭臭喵工作室</p>
</div>

<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Admin/Index/tendina.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Admin/Index/index.js"></script>
<script>
    var PUBLIC= "/weixin/Public";
    var ROOT = "/weixin";
</script>
</body>
</html>