<!DOCTYPE html>
<html lang="en">
  	<head>
        <include file='./head_layout' />
  	</head>

  	<body class="overflow-hidden">
		<div class="wrapper preload">
			<!-- 导入 nav-->
			<include file='./header' />

			<!-- 导入左边栏-->
			<include file='./aside'/>
			
			<div class="main-container">

                <!--加入通知模态框-->
                <include file='./noticeModel'/>

                <div class="padding-md">
                    <div class="row m-top-md">
                        <a href="__ROOT__/Admin/User/doAction/action/the">
                            <div class="col-lg-12 col-sm-12">
                                <div class="statistic-box bg-success m-bottom-md">
                                    <div class="statistic-title">
                                        &nbsp
                                    </div>

                                    <div class="statistic-value">
                                        意见建议
                                    </div>
                                    <br />
                                    <div class="m-top-md"></div>

                                    <div class="statistic-icon-background">
                                        <i class="ion-gear-b"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!-- ./padding-md -->
			</div><!-- /main-container -->

			<!-- 导入footer -->
            <include file = './footer'/>

		</div>

        <include file = './js_layout'/>

  	</body>
</html>
