<!DOCTYPE HTML>
<html>
<head>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<h2 class="text-left">
				微信后台管理员设置画面
			</h2></br>
            <h3 class="text-info text-left">
                <span class="marker">初次登录的用户需要设置以下内容：</span>
            </h3></br></br>
            <ul>
                <li>
                    <ins>第一步:点击首页，进行[添加新公众号]</ins>
                </li>
                </br>
                <li>
                    <ins>第二步:联系管理员进行权限设置</ins>
                </li>
                </br>
                <li>
                    <ins>第三步:点击[管理公众号]，[进入活动相关设置]设置各活动的入口关键字等信息</ins>
                </li>
                </br>
                <li>
                    <ins>第四步:点击[会员管理],设置会员的积分信息</ins>
                </li>
            </ul>
			<h3 class="text-info text-left">
				<span class="marker">在本设置画面中您可以做以下的设置(点击左边链接)：</span>
			</h3></br></br>
			<ul>
				<li>
					<ins>管 理 员 密 码 修 改</ins>
				</li>
				</br>
				<li>
					<ins>大 转 盘 相 关 设 置</ins>
				</li>
				</br>
				<li>
					<ins>刮 刮 卡 相 关 设 置</ins>
				</li>
				</br>
				<li>
					<ins>兑 换 商 城 相 关 设 置</ins>
				</li>
                </br>
                <li>
					<ins>奖 品 兑 换 相 关 设 置</ins>
				</li>
                </br>
                <li>
					<ins>建 言 献 策 相 关 设 置</ins>
				</li>
			</ul>

		</div>
	</div>
</div>
</body>
</html>