<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="format-detection" content="telephone=no">

    <title>建议意见</title>

    <link href="//cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--图标-->
    <!--<link rel="icon" type="image/x-icon" href="__PUBLIC__/img/favicon.ico">-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id = "baseInfo">
                <br/>
                <div class="alert alert-info" id = "baseTitle">
                    <p class="text-primary">欢迎您对我们提供宝贵的建议与意见<br/>我们将认真审核后公布</p>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">姓　名</span>
                        <input type="text" id="name" class="form-control input-lg" value="{$_SESSION['vipInfo']['Vip_name']}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">手　机</span>
                        <input type="tel" id="tel" class="form-control input-lg" value="{$_SESSION['vipInfo']['Vip_tel']}">
                    </div>
                </div>

                <div class="form-group">
                    <span class="span">请填写您的建议:</span>
                        <textarea id ="content" type="text" class="form-control input-lg" rows="10"></textarea>

                </div>
                <button type="button" class="btn btn-success btn-block" id = "suggestBtn">提交</button>
            </div>
            <!--<button type="button" class="btn btn-block disabled" id = "referrerSubmitDoing" style="display:none">正在提交。。。</button>-->
        </div>
    </div>
</div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="__PUBLIC__/js/wx.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/function.js"></script>
    <script src="__PUBLIC__/js/Suggest/suggest.js?v=20160104"></script>
</body>
</html>