<extend name="VipCenter_layout" />

<block name="vipCenter_CSS">
    <link href="//cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">
</block>

<block name="vipCenter_body">

    <div class="container">
        <input type="text" style="display:none" id="vipId" value={$VipInfo['Vip_id']}>
        <div class="row">
            <div class="col-md-12">
                <br/>
                <div class="demo-type-example">
                    <p>如信息输入错误，修改请联系微信号xiangyu426。关注“路桥发布”微信获取更多<?php echo $weixinName;?>
                        <a href = "http://mp.weixin.qq.com/s?__biz=MzA5MjAwNTg5MA==&mid=202313729&idx=1&sn=771fb385b364df578067e9b3307eba45#rd" id="blue">点我关注</a>
                    </p>
                </div>
                <br/>
                <div id = "baseInfo">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">昵　　称</span>
                            <input type="text" class="form-control input-lg" placeholder={$vipInfo['Vip_name']} disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">手　　机</span>
                            <input type="text" class="form-control input-lg" placeholder={$vipInfo['Vip_tel']} disabled="disabled">
                        </div>
                    </div>
                    <notempty name="area">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">地　　区</span>
                                <input type="text" class="form-control input-lg" placeholder="{$vipInfo['Vip_address_text']}" disabled="disabled">
                            </div>
                        </div>
                    </notempty>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">{$config_vipName}</span>
                            <input type="text" id="vipIntegral" class="form-control input-lg" placeholder={$vipInfo['Vip_integral']} value="{$vipInfo['Vip_integral']}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">印章总数</span>
                            <input type="text" class="form-control input-lg" placeholder={$flowerCount} disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">剩余印章</span>
                            <input type="text" class="form-control input-lg" placeholder={$nowflowerCount} disabled="disabled">
                        </div>
                    </div>

                    <notempty name="count">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" id="goToscratchcardBtn">建言献策抽奖{$count}次</button>
                        </div>
                    </notempty>

                    <notempty name="noComment">
                        <div class="form-group">
                            <button type="button" class="btn btn-warning btn-block" id = "referrerBtn">点我补登推荐人</button>
                        </div>
                    </notempty>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-block" id = "winInfoBtn">查看中奖信息</button>
                    </div>
                    <empty name="area">
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-block" id = "areaInputBtn">补填地区信息</button>
                        </div>
                    </empty>
                </div>
                <div id = "referrerInfo" style = "display:none">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">推荐人卡号</span>
                            <input type="number" class="form-control input-lg" id = "referrerID">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-block" id = "referrerSubmit">提交</button>
                        <button type="button" class="btn btn-block disabled" id = "referrerSubmitDoing" style="display:none">正在提交。。。</button>
                    </div>
                </div>
            </div>

            <br />
        </div>
    </div>
</block>

<include file = './js_layout'/>
<block name="vipCenter_JS">
    <script src="__PUBLIC__/js/VipCenter/VipInfoShow.js?v=20170104"></script>
</block>