<extend name="VipCenter_layout" />

<block name="vipCenter_CSS">
    <link href="__PUBLIC__/css/style.css?v=20170101" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.3.0/jquery.mobile-1.3.0.min.css"/>
</block>
<block name="vipCenter_body">

    <div data-role="page">
        <div data-role="header" data-position="fixed">
            <tr class = "win-bgMain"><td>
                亲爱的会员:{$_SESSION['vipInfo']['Vip_name']}<br/>
                手机号码:{$_SESSION['vipInfo']['Vip_tel']}
            </td></tr>
        </div><!-- /header -->
        <notempty name="billInfoIsNull">
            <div data-role="content" align="center">
                <p>尚未有中奖信息！</p>
            </div>
        <else/>
            <div data-role="content">
                <table border=1 width = "100%" align="center">
                    <foreach name="data" item="vo" key ="k">
                        <tr  class="win-bg">
                            <td>第{$k + 1}条中奖信息:</td>
                        </tr>
                        <tr  class="win-bg">
                            <td>中奖类型 : {$vo.Bill_type}</td>
                        </tr>
                        <tr class="win-bg">
                            <td>中奖内容 : {$vo.Bill_GoodsName}</td>
                        </tr>
                        <tr class="win-bg">
                            <td>中奖SN码 : {$vo.Bill_SN}</td>
                        </tr>
                        <tr class="win-bg">
                            <td>中奖时间 : {$vo.Bill_insertDate}</td>
                        </tr>
                        <tr class="win-bg">
                            <td>活动开始日期 : {$vo.Bill_goods_beginDate}</td>
                        </tr>
                        <tr class="win-bg">
                            <td>活动结束日期 : {$vo.Bill_goods_endDate}</td>
                        </tr>
                        <tr class="win-bg">
                            <td>奖品兑换截止日期 : {$vo.Bill_goods_expirationDate}</td>
                        </tr>
                        <tr><td><br/></td></tr>
                    </foreach>
                </table>

            </div>
        </notempty>
    </div>
</block>
<include file = './js_layout'/>
<block name="vipCenter_JS">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquerymobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
</block>