<extend name="VipCenter_layout" />

<block name="vipCenter_CSS">
    <link href="__PUBLIC__/css/style.css?v=20170101" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.3.0/jquery.mobile-1.3.0.min.css"/>
</block>
<block name="vipCenter_body">

    <div data-role="page">
        <div data-role="header" data-position="fixed">
            <tr class = "win-bgMain"><td>
                亲爱的会员:{$_SESSION['vipInfo']['Vip_name']}</br>
                手机号码:{$_SESSION['vipInfo']['Vip_tel']}
            </td></tr>
        </div><!-- /header -->
        <notempty name="billInfoIsNull">
            <div data-role="content" alin>
                <p>尚未有中奖信息！</p>
            </div>
        <else/>
            <div data-role="content">
                <table border=1 width = "100%" align="center">
                <form name="customersUpdateForm" method="POST" action="?" data-ajax="false" data-transition="flip">
                    <foreach name="data" item="vo" key ="k">
                        <tr  class="win-bg"><td><p>
                        第{$k + 1}条中奖信息:
                        </tr></td></p>
                        <tr  class="win-bg"><td><p>
                        中奖类型 : {$vo.Bill_type}
                        </tr></td></p>
                        <tr class="win-bg"><td><p>
                        中奖内容 : {$vo.Bill_GoodsName}
                        </tr></td></p>
                        <tr class="win-bg"><td><p>
                        中奖SN码 : {$vo.Bill_SN}
                        </tr></td></p>
                        <tr class="win-bg"><td><p>
                        中奖时间 : {$vo.Bill_insertDate}
                        </tr></td></p>
                        <tr class="win-bg"><td><p>
                        活动开始日期 : {$vo.Bill_goods_beginDate}
                        </tr></td></p>
                        <tr class="win-bg"><td><p>
                        活动结束日期 : {$vo.Bill_goods_endDate}
                        </tr></td></p>
                        <tr class="win-bg"><td><p>
                        奖品兑换截止日期 : {$vo.Bill_goods_expirationDate}
                        </tr></td></p>
                        <tr><td>
                            </br>
                        </td></tr>
                    </foreach>
                </form>
                </table>

            </div>
        </notempty>
    </div>
</block>
<include file = './js_layout'/>
<block name="vipCenter_JS">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquerymobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
</block>