<!DOCTYPE html>
<html lang="en">
<head>
    <include file='./head_layout' />
</head>

<body class="overflow-hidden">
<div class="wrapper preload">
    <!-- 导入 nav-->
    <include file='./header' />

    <!-- 导入左边栏-->
    <include file='./aside'/>

    <div class="main-container">
        <div class="padding-md">
            <div class="row user-profile-wrapper">

                <block name="suggest_content">
                    内容
                </block>

            </div>
        </div>
    </div><!-- /main-container -->
    <!-- 导入footer -->
    <include file = './footer'/>
</div><!-- /wrapper -->

<include file = './js_layout'/>

</body>
</html>