<!DOCTYPE html>
<html lang="en">
<head>
    <include file='./head_layout' />
    <link href="__PUBLIC__/css/Admin/Suggest/suggest.css?v=20160106" rel="stylesheet">
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
    <!-- 导入 nav-->
    <include file='./header' />

    <!-- 导入左边栏-->
    <include file='./aside'/>

    <div class="main-container">

        <div class="padding-md">
            <div class="row m-top-md">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb">
                        <li>建议</li>
                        <li>建议一览表(按时间有新到旧排序/点击可查看详细和回复)</li>
                    </ul>
                    <div class="smart-widget-body hidden-xs">
                        <empty name="count">
                            <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                无数据
                            </a>
                        <else/>
                            <foreach name="date" item="voo" key="kk">
                                <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" data-target="#lg{$kk}" aria-expanded="false" aria-controls="collapseExample">
                                    {$voo['create_date']}
                                </a>
                                <div class="collapse" id="lg{$kk}">
                                    <foreach name="voo['data']" item="vo" key="kkk">

                                        <a href="#" data-toggle="modal" data-target="#{$vo['create_date']}normalModal{$kkk}" class="gallery-action animation-dalay">
                                            <!-- modal -->
                                            <div class="well well-lg" >
                                                <span class="text-warning">姓名：{$vo['name']}</span><br>
                                                <span class="text-warning">手机：{$vo['tel']}</span><br>
                                                <span class="text-warning">建言：{$vo['content']}</span><br>
                                                <span class="text-warning">时间：{$vo['create_time']}</span><br>
                                            </div>
                                        </a>
                                        <div class="modal fade" id="{$vo['create_date']}normalModal{$kkk}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                            <span class="sr-only">Close</span>
                                                        </button>
                                                        <h4 class="modal-title">建议详细:</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="title">建议时间:</label>
                                                                    <input class="form-control" type="text" id="title" name="title" disabled value="{$vo.create_date} {$vo.create_time}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="">建议内容:</label>
                                                                    <textarea class="form-control" rows="8"  type="text" disabled>{$vo.content}</textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="">回复内容:</label>
                                                                    <textarea class="form-control" rows="8" id="reply{$vo['id']}" type="text">{$vo.reply1}</textarea>
                                                                </div>
                                                                <notempty name="vo.imgData">
                                                                    <div class="form-group" >
                                                                        <label class="">图片信息:</label>
                                                                        <notempty name="vo.thumbPath1">

                                                                            <!-- 代码 开始 -->
                                                                            <!--<div id="content">-->
                                                                                <!--<div id="images">-->
                                                                                    <a id="imgUrl1" title="" href="__PUBLIC__{$vo['imgPath1']}">
                                                                                        <img alt="" src="__PUBLIC__{$vo.thumbPath1}" />
                                                                                    </a>
                                                                                <!--</div>-->

                                                                            <!--</div>-->

                                                                            <!--<a id="imgUrl1" href="__PUBLIC__/{$vo['imgPath1']}">-->
                                                                                <!--<img src="__PUBLIC__/{$vo.thumbPath1}" width="25%" style="padding-left: 1%">-->
                                                                            <!--</a>-->
                                                                        </notempty>
                                                                        <notempty name="vo.thumbPath2">
                                                                            <img src="__PUBLIC__{$vo.thumbPath2}" width="25%" style="padding-left: 1%">
                                                                        </notempty>
                                                                        <notempty name="vo.thumbPath3">
                                                                            <img src="__PUBLIC__{$vo.thumbPath3}" width="25%" style="padding-left: 1%">
                                                                        </notempty>
                                                                    </div>
                                                                    <div id="credit"></div>
                                                                </notempty>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                        <button type="button" class="btn btn-primary" onclick="doUpdate({$vo['id']})">提交</button>
                                                        <button type="button" class="btn btn-danger" onclick="doDelete({$vo['id']})">删除</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </foreach>
                                </div>
                                <br/>
                            </foreach>
                        </empty>
                    </div>

                    <!--小屏幕显示-->
                    <div class="smart-widget-body visible-xs">
                        <empty name="count">
                            <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                无数据
                            </a>
                        <else/>
                            <foreach name="date" item="voo" key="kk">
                                <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" data-target="#sm{$kk}" aria-expanded="false" aria-controls="collapseExample">
                                    {$voo['create_date']}
                                </a>
                                <div class="collapse" id="sm{$kk}">
                                    <foreach name="voo['data']" item="vo" key="kkk">
                                        <a href="#" data-toggle="modal" data-target="#{$vo['create_date']}smallModal{$kkk}" class="gallery-action animation-dalay">
                                            <div class="well well-lg" >
                                                <span class="text-warning">姓名：{$vo['name']}</span><br>
                                                <span class="text-warning">手机：{$vo['tel']}</span><br>
                                                <span class="text-warning">建言：{$vo['content']}</span><br>
                                                <span class="text-warning">时间：{$vo['create_time']}</span><br>
                                            </div>
                                        </a>
                                        <div class="modal fade" id="{$vo['create_date']}smallModal{$kkk}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                            <span class="sr-only">Close</span>
                                                        </button>
                                                        <h4 class="modal-title">建议详细:</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="title">建议时间:</label>
                                                                    <input class="form-control" type="text"  name="title" disabled value="{$vo.create_date} {$vo.create_time}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="">建议内容:</label>
                                                                    <textarea class="form-control" rows="7" name="content" type="text" disabled>{$vo.content}</textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="">回复内容:</label>
                                                                    <textarea class="form-control" rows="7" id="small_reply{$vo['id']}" type="text">{$vo.reply1}</textarea>
                                                                </div>

                                                                <notempty name="vo.imgData">
                                                                    <div class="form-group">
                                                                        <label class="">图片信息:</label>
                                                                        <notempty name="vo.thumbPath1">
                                                                            <img src="__PUBLIC__/{$vo.thumbPath1}" width="90%">
                                                                            <hr/>
                                                                        </notempty>
                                                                        <notempty name="vo.thumbPath2">
                                                                            <img src="__PUBLIC__/{$vo.thumbPath2}" width="90%">
                                                                            <hr/>
                                                                        </notempty>
                                                                        <notempty name="vo.thumbPath3">
                                                                            <img src="__PUBLIC__/{$vo.thumbPath3}" width="90%">
                                                                        </notempty>
                                                                    </div>
                                                                </notempty>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                        <button type="button" class="btn btn-primary" onclick="small_doUpdate({$vo['id']})">提交</button>
                                                        <button type="button" class="btn btn-danger" onclick="doDelete({$vo['id']})">删除</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </foreach>
                                </div>
                                <br/>
                            </foreach>
                        </empty>
                    </div>
                </div>
            </div>
        </div><!-- ./padding-md -->
    </div><!-- /main-container -->

    <!-- 导入footer -->
    <include file = './footer'/>

</div>

<include file = './js_layout'/>

<script src="__PUBLIC__/js/Admin/jquery.min.js"></script>
<script src="__PUBLIC__/js/Admin/jquery.imgbox.pack.js"></script>
<script src="__PUBLIC__/js/Admin/Suggest/suggest.js?v=20160104"></script>
<script>

    $(document).ready(function() {
        //图片点击放大JS
        $("#imgUrl1").imgbox({
            'speedIn'		: 0,
            'speedOut'		: 0,
            'alignment'		: 'center',
            'overlayShow'	: true,
            'allowMultiple'	: false
        });
    });
</script>
</body>
</html>