<!DOCTYPE html>
<html lang="en">
<head>
    <include file='./head_layout' />
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
    <!-- 导入 nav-->
    <include file='./header' />

    <!-- 导入左边栏-->
    <include file='./aside'/>

    <div class="main-container">

        <div class="padding-md">
            <div class="row m-top-md">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb">
                        <li>建议</li>
                        <li>建议一览表(按时间有新到旧排序)</li>
                    </ul>

                    <div class="smart-widget-body hidden-xs">
                        <empty name="count">
                            <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                无数据
                            </a>
                        <else/>
                            <foreach name="date" item="voo" key="kk">
                                <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" data-target="#lg{$kk}" aria-expanded="false" aria-controls="collapseExample">
                                    {$voo['create_date']}
                                </a>
                                <div class="collapse" id="lg{$kk}">
                                    <foreach name="voo['data']" item="vo">
                                        <div class="well well-lg" >
                                            <a href="https://www.baidu.com">
                                                <span class="text-warning">姓名：{$vo['name']}</span><br>
                                                <span class="text-warning">手机：{$vo['tel']}</span><br>
                                                <span class="text-warning">建言：{$vo['content']}</span><br>
                                                <span class="text-warning">时间：{$vo['create_time']}</span><br>
                                            </a>
                                        </div>
                                    </foreach>
                                </div>
                                <br/>
                            </foreach>
                        </empty>
                    </div>

                    <!--小屏幕显示-->
                    <div class="smart-widget-body visible-xs">
                        <empty name="count">
                            <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                无数据
                            </a>
                            <else/>
                            <foreach name="date" item="voo" key="kk">
                                <a class="btn btn-lg btn-info btn-block" role="button" data-toggle="collapse" data-target="#sm{$kk}" aria-expanded="false" aria-controls="collapseExample">
                                    {$voo['create_date']}
                                </a>
                                <div class="collapse" id="sm{$kk}">
                                    <foreach name="voo['data']" item="vo">
                                        <div class="well well-lg" >
                                            <a href="https://www.baidu.com">
                                                <span class="text-warning">姓名：{$vo['name']}</span><br>
                                                <span class="text-warning">手机：{$vo['tel']}</span><br>
                                                <span class="text-warning">建言：{$vo['content']}</span><br>
                                                <span class="text-warning">时间：{$vo['create_time']}</span><br>
                                            </a>
                                        </div>
                                    </foreach>
                                </div>
                                <br/>
                            </foreach>
                        </empty>
                    </div>



                </div>
            </div>
        </div><!-- ./padding-md -->
    </div><!-- /main-container -->

    <!-- 导入footer -->
    <include file = './footer'/>

</div>

<include file = './js_layout'/>

</body>
</html>