<extend name="Advice_layout" />
<block name="advice_CSS">
</block>
<block name="advice_body">
    <nav class="navbar navbar-default navbar-fixed-top advice-head" role="navigation">
        <ul class="nav nav-pills">

            <!--<li class="active"><a href="./adviceInfo.php">活动介绍</a></li><-->
            <li class="active"><a href="#">活动</a></li>
            <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/showView">我要建言</a></li>
            <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/adviceShow">最新建言</a></li>
            <!-- <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/adviceScratchcard">抽奖</a></li> -->

        </ul>
    </nav>
    <div class="advice-contents">
        <div id="adviceMain-img">
            <img src="__PUBLIC__/img/Advice/adviceMain3.jpg" />
        </div>
        <div class="adviceMain-detail">
            <div>
                <span>&nbsp &nbsp &nbsp &nbsp2月17日至22日，路桥区将隆重召开2017年路桥区两会！为更好地倾听民意、集中民智，“路桥发布”特推出“喜迎区两会、五年话愿景”网络互动平台。我们诚挚邀请广大网友积极建言献策，对“未来五年”路桥的新一轮发展提出自己的愿景和期许。</span>
                <!--<span style="color: red; font-size: 20px; display:inline-block">&nbsp &nbsp &nbsp &nbsp为更好地倾听民意、集中民智，“路桥发布”开通“路桥两会我有话说”网络平台，邀请广大网友为“两会”建言献策，助力路桥发展。“两会”闭幕后，“路桥发布”编辑部将开展“金点子”评选活动。奖项设置一等奖1个，二、三等奖若干名，分别给予IPADmini3，IPODshuffle和价值100元的手机充值卡奖励。</span>-->
            </div>
        </div>
    </div>
</block>
<block name="advice_JS">
</block>
