<extend name="Advice_layout" />
<block name="advice_CSS">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Advice/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Advice/style.css"/>
</block>
<block name="advice_body">
    <nav class="navbar navbar-default navbar-fixed-top advice-head" role="navigation">
        <ul class="nav nav-pills">
            <!--<li class="active"><a href="./adviceInfo.php">活动介绍</a></li><-->
            <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/adviceMain/">活动</a></li>
            <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/showView">上传照片</a></li>
            <li class="active"><a href="#">精选照片</a></li>
            <!-- <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/adviceScratchcard">抽奖</a></li> -->

        </ul>
    </nav>
    <div class="advice-contents">

        <!--无数据-->
        <notempty name="noData">
            <fieldset>
                <br/>
                <section class="adviceShow-detail">
                    <section class="adviceShow-detail-section">
                        <span class="second-span">暂无数据！</span>
                    </section>
                </section>
            </fieldset>
        </notempty>
        <!--取数据错误-->
        <notempty name="error">
            <fieldset>
                <br/>
                <section class="adviceShow-detail">
                    <section class="adviceShow-detail-section">
                        <span class="second-span">取数据错误！</span>
                    </section>
                </section>
            </fieldset>
        </notempty>
        <!--数据输出-->
        <notempty name="data">
            <div class="wrapper">
                <foreach name="data" item="vo">
                    <ul class="wall">
                        <li class="article">
                            <a href="__PUBLIC__{$vo['ADVICE_IMGURL']}">
                                <img src="__PUBLIC__{$vo['ADVICE_IMGURL']}" />
                                <p>{$vo['ADVICE_ADVICE']}</p>
                                <small>上传者：{$vo['ADVICE_NAME']}</small>
                            </a>
                        </li>
                    </ul>
                </foreach>
            </div>
        </notempty>
    </div>
</block>
<block name="advice_JS">
    <script src="__PUBLIC__/js/Advice/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/Advice/jaliswall.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $('.wall').jaliswall({ item: '.article' });
        });
    </script>
</block>
