<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="format-detection" content="telephone=no">

    <title>路桥拍客</title>

    <link type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/css/Advice/advice.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--图标-->
    <!--<link rel="icon" type="image/x-icon" href="__PUBLIC__/img/favicon.ico">-->

    <block name="advice_CSS"></block>
</head>
<body>
<block name="advice_body"></block>

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="__PUBLIC__/js/wx.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/function.js"></script>
    <script src="__PUBLIC__/js/Advice/advice.js?v=201801012"></script>
    <block name="advice_JS"></block>
</body>
</html>
