<extend name="Advice_layout" />
<block name="advice_CSS">
</block>
<block name="advice_body">
    <nav class="navbar navbar-default navbar-fixed-top advice-head" role="navigation">
        <ul class="nav nav-pills">

            <!--<li class="active"><a href="./adviceInfo.php">活动介绍</a></li><-->
            <li class="active"><a href="#">活动</a></li>
            <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/showView">上传照片</a></li>
            <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/adviceShow">精选照片</a></li>
            <!-- <li class=""><a data-ajax="false" href="__ROOT__/APP/Advice/index/action/adviceScratchcard">抽奖</a></li> -->

        </ul>
    </nav>
    <div class="advice-contents">
        <div id="adviceMain-img">
            <img src="__PUBLIC__/img/Advice/paike.jpeg" />
        </div>
        <div class="adviceMain-detail">
            <div>
                <span>&nbsp &nbsp &nbsp &nbsp美丽乡村我来拍</span>
                <br/>
                <br/>
                <span>&nbsp &nbsp &nbsp &nbsp路桥区全媒体中心特在此开展“路桥拍客”行动，向全区广大摄影爱好者们征集路桥美丽乡村照片，通过镜头反映乡村振兴、高质发展的成果，用影像记录路桥的昨天和今天。入围精选照片者将有机会获得物质及精神上的奖励。</span>
                <!--<span style="color: red; font-size: 20px; display:inline-block">&nbsp &nbsp &nbsp &nbsp为更好地倾听民意、集中民智，“路桥发布”开通“路桥两会我有话说”网络平台，邀请广大网友为“两会”建言献策，助力路桥发展。“两会”闭幕后，“路桥发布”编辑部将开展“金点子”评选活动。奖项设置一等奖1个，二、三等奖若干名，分别给予IPADmini3，IPODshuffle和价值100元的手机充值卡奖励。</span>-->
            </div>
        </div>
    </div>
</block>
<block name="advice_JS">
</block>
