#login{width:420px; height:200px; margin:60px auto; border:1px solid #aac6eb}
#login h3{height:32px; line-height:32px; padding-left:8px; background:#e8f5fe}
#login_form{margin:20px 10px}
#login p{height:30px; line-height:30px; margin:10px 0}
#login p label{float:left; width:120px; text-align:right}
.input{width:180px; height:24px; line-height:24px; padding:2px; border:1px solid #d3d3d3}
.sub{height:42px; line-height:42px; position:absolute}
.btn{width:86px; height:33px; background:url(../../../img/Admin/Login/login_btn.jpg) no-repeat; border:none; text-indent:-999em; display:block; cursor:pointer; margin-left:120px}
.cur_select{border:1px solid #aac6eb}
#msg,#errmsg{position:absolute; width:200px; height:32px; line-height:32px; left:220px; top:0; color:#f30; font-weight:bold}
.loading{background:url(../../../img/Admin/Login/loading.gif) no-repeat 0 6px; padding-left:18px; color:#999}
#result{margin:20px; text-align:center}
#result p{line-height:22px; margin:2px 0}
#result p span{color:#f30; margin:4px; font-weight:bold}