<!DOCTYPE HTML>
<html>
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="__PUBLIC__/css/Admin/simplify.css" rel="stylesheet">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</HEAD>
<body>
<!--页面名称-->
<h3>路桥拍客 管理</h3>
<!--列表开始-->
<input type="hidden" id="nowPage" value="{nowPage}"/>
<table class="table table-bordered" >
    <thead>
    <tr>
        <th>序号</th>
        <th>姓名/昵称</th>
        <th>联系方式</th>
        <th>图片内容</th>
        <th>上传时间</th>
        <th>当前状态</th>
        <th>编辑</th>
    </tr>
    </thead>
    <tbody>
    <notempty name="data">
        <foreach name="data" item="value">
            <tr>
                <td>{$value['id']}</td>
                <td>{$value['ADVICE_NAME']}</td>
                <td>{$value['ADVICE_TEL']}</td>
                <td>{$value['ADVICE_ADVICE']}</td>
                <td>{$value['ADVICE_CREATETIME']}</td>
                <td>{$value['isOKFlag']}</td>
                <td>
                    <a href="__ROOT__/Admin/Advice/doAction/action/adviceSet/adviceID/{$value[id]}/nowPage/{$nowPage}">修改/审核</a>
                </td>
            </tr>

        </foreach>
    <else/>
        <tbody><tr><td colspan=9>无记录</td></tr></tbody>
    </notempty>
    </tbody>
</table>

<div class="pagination">{$page}</div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Admin/common.js"></script>

</body>
</html>
