<!DOCTYPE HTML>
<html>
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</HEAD>
<body>
<!--页面名称-->
<h3 id = "titel">修改/审核<a onClick="javascript :history.back();">返回>></a></h3>
        <!--表单开始-->
<div id = "main_set">
    <form action="?" method="post" name="class_add" id="class_add" enctype="multipart/form-data" class="form-horizontal" role="form">
    <fieldset>
    <div id = "Forminfo">
    <div class="form-group">
    <label class="col-sm-2 control-label" for="advice_Name">姓名/昵称：</label>
    <div class="col-sm-5">
        <input class="form-control" type="text" value="{$adviceInfoArr['ADVICE_NAME']}" name="advice_Name" id = "advice_Name" readonly="true">
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-2 control-label" for="advice_tel">手机号码：</label>
<div class="col-sm-5">
        <input class="form-control" type="text" value="{$adviceInfoArr['ADVICE_TEL']}" name="advice_tel" id = "advice_tel" readonly="true">
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="advice_advice">图片描述：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" value="{$adviceInfoArr['ADVICE_ADVICE']}" name="advice_tel" id = "advice_advice" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="advice_advice">图片：</label>
            <div class="col-sm-5">
                <a target="_blank" href="__PUBLIC__{$adviceInfoArr['ADVICE_BIGIMGURL']}">
                    <img src="__PUBLIC__{$adviceInfoArr.ADVICE_IMGURL}" width="75%" style="padding-left: 1%">
                </a>
            </div>
        </div>
<div class="form-group">
        <label class="col-sm-2 control-label" for="advice_createTime">上传时间：</label>
<div class="col-sm-5">
        <input class="form-control" type="text" value="{$adviceInfoArr['ADVICE_CREATETIME']}" name="advice_createTime" id = "advice_createTime" readonly="true">
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-6">
        <input type="hidden" id="advice_id" value="{$adviceInfoArr['id']}"></br>
<button type="button" class="btn btn-warning"  id = "formSubmitNG">审核不通过</button>&nbsp &nbsp &nbsp &nbsp
        <button type="button" class="btn btn-danger"  id = "formSubmitOK">审核通过</button>&nbsp &nbsp &nbsp &nbsp
        <!--<button type="button" class="btn btn-primary"  id = "formSubmitOKANDEvent">审核通过并有抽奖资格</button>&nbsp &nbsp &nbsp &nbsp-->
        </div>
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-4">
        <div id="myMsg" class="alert alert-warning" style = "display:none"></div>
        <div id="myOKMsg" class="alert alert-success" style = "display:none"></div>
        </div>
        </div>
        </fieldset>
        </form>
        </div>
<input type="hidden" id="nowPage" value="{$nowPage}"/>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Admin/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Admin/Advice/adviceSet.js"></script>
</body>
</html>
