
/*表格内容居中*/
.table th, .table td {
    text-align: center;
}

/*审核通过事后爱心式样*/
#scoreBtn .active{
    /*color: #edbc6c;*/
    background: #fbc852;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}