<aside class="sidebar-menu fixed">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="main-menu">
            <ul class="accordion">
                <li class="menu-header">
                    Main Menu
                </li>
                <li class="bg-palette1 active">
                    <a href="__ROOT__/Admin/Index/index">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                            <span class="text m-left-sm">后台主页</span>
                        </span>
                        <span class="menu-content-hover block">
                            Home
                        </span>
                    </a>
                </li>

                <li class="bg-palette1">
                    <a href="__ROOT__/Admin/Index/doAction/action/showSuggest">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-envelope fa-lg"></i></span>
                            <span class="text m-left-sm">意见建议</span>
                        </span>
                        <span class="menu-content-hover block">
                            建议
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div><!-- sidebar-inner -->
</aside>