<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新追加会员初始化设置</title>

    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<form action="__ROOT__/Admin/Weixin/doAction/action/weixinIDAddNewData" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    <fieldset>
        <div id = "mainInfo">
            <input type="hidden" id= "theWeixinType" value="{$weixinInfo['weixinType']}"/>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-7">
                    <p><h2><span class="label label-info">设&nbsp &nbsp置&nbsp &nbsp公&nbsp &nbsp众&nbsp &nbsp号</span></h2></p><br/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinName">公众号名称：</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id = "weixinName" name = "weixinName" value ={$weixinInfo['weixinName']} >
                    <span class="help-block">您可以给此公众号起一个名字, 方便下次修改和查看.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinType">公众号类型：</label>
                <div class="col-sm-5">
                    <select class="form-control" id = "weixinType" name = "weixinType">
                        <option value="0">服务号</option>
                        <option value="1">订阅号</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinUrl"><span color="red">接口地址：</span></label>
                <div class="col-sm-5">
                    <input readonly type="text" class="form-control" id="weixinUrl" name="weixinUrl" value = {$weixinInfo['weixinUrl']}>
                    <span class="help-block">设置“微信公众平台接口”配置信息中的接口地址.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinToken"><span color="red">微信Token：</span></label><a href="javascript:void(0);" onclick="create_token()">生成新的</a>
                <div class="col-sm-5">
                    <input readonly type="text" class="form-control" id="weixinToken" name="weixinToken" value = {$weixinInfo['weixinToken']}>
                    <span class="help-block">与微信公众平台接入设置值一致，必须为英文或者数字，长度为3到32个字符. 请妥善保管, Token 泄露将可能被窃取或篡改微信平台的操作数据.(如未生成请点击【生成新的】)</span>
                    <div id="tokenMsg" class="alert alert-warning" style = "display:none"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinAppId">公众号AppId：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="weixinAppId" name="weixinAppId" value = {$weixinInfo['weixinAppId']}>
                    <span class="help-block">请填写微信公众平台后台的AppId.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinAppSecret">公众号AppSecret：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="weixinAppSecret" name="weixinAppSecret" value = {$weixinInfo['weixinAppSecret']}>
                    <span class="help-block">请填写微信公众平台后台的AppSecret, 只有填写这两项才能管理自定义菜单.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinCode">微信号：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="weixinCode" name = "weixinCode" value = {$weixinInfo['weixinCode']}>
                    <span class="help-block">您的微信帐号，本平台支持管理多个微信公众号.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="weixinOldID">原始账号：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="weixinOldID" name = "weixinOldID" value = {$weixinInfo['weixinOldID']}>
                    <span class="help-block">微信公众帐号的原ID串.</span>
                </div>
            </div>
            <div class="form-group" id = "newImg">
                <label class="col-sm-2 control-label" for="up_img">二维码：</label>
                <input type="file" id="up_img" name="up_img" style = "display:none" accept="image/*"/>
                <div id="imgdiv"  class="col-sm-5">
                    <img id="imgShow" name="imgShow" src={$weixinInfo['weixinQRCodeUrl']} class="img-rounded" width="150"/>
                </div>
            </div>
            <input type="hidden" value="{$weixinInfo['weixinQRCodeUrl']}" name="hidden_QR_Img">
            <div class="form-group" id = "newImgMin">
                <label class="col-sm-2 control-label" for="up_imgMin">头像：</label>
                <input type="file" id="up_imgMin" name="up_imgMin" style = "display:none" accept="image/*"/>
                <div id="imgdivMin"  class="col-sm-5">
                    <img id="imgShowMin" name="imgShowMin" src={$weixinInfo['weixinHeadUrl']} class="img-rounded" width="85"/>
                </div>
            </div>
            <input type="hidden" value="{$weixinInfo['weixinHeadUrl']}" name="hidden_Head_Img">
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-5">
                    <input type="hidden" id="weixin_id" name = "weixin_id" value={$weixinInfo['id']}>
                    <button type="submit" class="btn btn-primary btn-block "  id = "OKBtn" onclick="return formCheck();">提交</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
                <div id="myMsg" class="alert alert-warning" style = "display:none"></div>
                <div id="myOKMsg" class="alert alert-success" style = "display:none"></div>
            </div>
        </div>

    </fieldset>
</form>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/uploadPreview.js"></script>
<script src="__PUBLIC__/js/Admin/WeixinIDAddNew/weixinIDAddNew.js"></script>
<script type="text/javascript">
    var PUBLIC = "/weixin/Public";
    var ROOT = "/weixin";
</script>
</body>
</html>