<extend name="login2_layout" />
<block name="login_title"><title>登录</title></block>
<block name="login_content">

    <form id="loginform" name="loginform">
        <p>
            <label for="user_login">用户名:<br>
            <input type="text" size="20" value="" class="input" id="user_login" name="userName"></label>
        </p>
        <p>
            <label for="user_pass">密  码:<br>
            <input type="password" size="20" value="" class="input" id="user_pass" name="pwd"></label>
        </p>
            <p class="forgetmenot">
                <label for="rememberme">
                    <input type="checkbox" value="forever" id="rememberme" name="rememberme"> 记住我的登录信息
                </label>
            </p>
        <p class="submit">
            <input type="button" value="登录" class="button button-primary button-large" id="wp-submit" name="wp-submit">
        </p>
    </form>


</block>

<block name="login_js">
    <script type="text/javascript" src="__PUBLIC__/js/Admin/Login/login2.js?v=20160108"></script>
</block>