<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <block name="login_title"><title>标题</title></block>
        <!--<title>稿库系统 ‹ 登录</title>-->

        <link href="__PUBLIC__/css/Admin/Login/load-style.css" type="text/css" rel="stylesheet">
        <link href="__PUBLIC__/css/Admin/Login/admin.css" type="text/css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--图标-->
        <!--<link rel="icon" type="image/x-icon" href="__PUBLIC__/img/favicon.ico">-->

    </head>
    <body class="login login-action-login wp-core-ui  locale-zh-cn">
        <div id="login">
            <h1>
                <a tabindex="-1" title="ZanBlog" href="#">稿库系统</a>
            </h1>

            <block name="login_content">内容</block>

        </div>

        <div class="clear"></div>

        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="__PUBLIC__/js/common.js"></script>
        <script src="__PUBLIC__/js/function.js"></script>

        <block name="login_js"><title>js</title></block>
    </body>
</html>